.calculator {  
    font-family: 'Wix Madefor Display', sans-serif;    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #000;
    width: 375px;
    padding: 50px 10px 30px 10px;
    border-radius: 35px;
}

.display {
    padding-left: 12px;
    padding-right: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

p {
    overflow:hidden;
    text-overflow:clip;
    color:#fff;
    font-size: 3.8em;
}

button {
    font-family: 'Wix Madefor Display', sans-serif;    border: none;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    font-size: 2em;
    color: white;       
}

button:hover {
    cursor: pointer;
    opacity: 70%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.operations {
    background-color: #f69906;
}

.number, 
.comma {
    background-color: #313131;
}

.grey-buttons {
    background-color: #a0a0a0;
    color: #000;
}

#zero {
    width: 170px;
    padding-right: 95px;
}