body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quem-somos {
    display: flex;
    flex-direction: row;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.body {
    width: 500px;
}

.title {
    height: 50px;
    font-size: 1.5rem;
}
