main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: aliceblue;
}

section {
    /* background-color: #000; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    height: 450px;
    width: 450px;
}

.square {
    background-color: rgb(54, 88, 31);
    border-radius: 8px;
    box-shadow: 0px 0px 10px #182217;
    border: none;
    height: 140px;
    width: 140px;
}

.square:hover {
    cursor: pointer;
    background-color: #2c5e27;
}