* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: #BCCDD0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    
}

/* Card  */


.card {
    background: #DFDFD6;
    display: flex;
    flex-direction: row;
    max-width: 875px;
    min-height: 491.63px;
    border-radius: 30px;
}


/* Imagem das folhas */

.card-image {
    width: 200%;
    background-size: cover;
    background-image: url('../images/image.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* informação do card*/

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 50px 30px 41px;
}

/* Header (h1 e parágrafo) */

header {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;

}

p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}


/* Tudo acima - responsivo para mobile usando o limite de 768px de largura */

@media screen and (max-width: 768px){
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 93%;
        min-height: 200px;
        border-radius: 30px;
    }

    .card-image {
        width: 100%;
        min-height: 202px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('../images/image.png');
    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 30px;
        padding: 25px 30px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        line-height: 36px;
    
    }
}

/* Footer */

.footer {
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;    
    gap: 8px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.not-hidden {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

/* Nome e data */

.not-hidden h1 {
    color: #111313;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
}

.not-hidden h2 {
    font-family: Overpass;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;

}


/* Perfil completo */

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 11px;
}

/* Botão compartilhar */

button {
    border-style:hidden;
    background-color: #DFDFD6;
}

button:hover img{
    cursor: pointer;
    opacity: 0.9;
    border-style:hidden;
    background-color: #DFDFD6;
}

/* Menu de redes sociais */

#social-medias {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
