
/* GERAL */

* {
    box-sizing: border-box;
    background: #FFFFFF;
    font-family: 'Open Sans';
}

body {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

a {
    text-decoration: none; 
    color: currentColor; 
}

/* HEADER */

header {
    height: 120px;
    left: 0px;
    top: 0px;

}

nav {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    /* welovedogs */
nav .logo {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-left: 15;
}
    /* "love" */
span {
    color: #7ED321;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-items li {
    list-style: none;
    margin-right: 35px;
}

.nav-items li:last-child {
    margin-right: 15px;
}

.header-button {
    color: #1C4701;
    display: inline-block;
    padding: 9px 32px;
    background: rgba(126, 211, 33, 0.4);
    border-radius: 15px;

}

/* MAIN */


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justified;
    height: 185px;
    width: 778px;

}

.h1-main {
    align-self: center;
    font-size: 48px;
    line-height: 65px;
}



/*Página home*/

.section-home {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.section-home image {
    width: 1440px;
    height: 904px;
}

.content-home {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 371px;
    height: 351px;
}

.content-home .section-button {
    align-self: flex-start;
}

.section-button {
    align-self: flex-end;
    display: inline-block;
    padding: 13px 55px;
    background: #7ED321;
    color: #1C4701;
    border-radius: 15px;
}

/* Página blog */

.section-blog {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.section-blog .image {
    align-self: flex-start;
}

.h2-main {
    font-size: 32px;
}

/* Página de incrição */

.section-form {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form .input {
    display: flex;
    flex-direction: row;
}

form label {
    text-align:center;
    height: 50px;
    width: 100px;
    top: 283px;
    border-radius: nullpx;

    
}

form input  {
    border: 1px solid #9F9F9F;
    font-size: 14px;
    font-weight: 700;
    height: 43px;
    width: 418px;
    left: 298px;
    top: 346px;
    border-radius: 7px;
}

form textarea {
    border: 1px solid #9F9F9F;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
    height: 160px;
    width: 418px;
    left: 298px;
    top: 472px; 
    border-radius: 7px;
    resize:none;
}

form .section-button {
    margin-top: 20px;
    align-self: flex-end;
    display: inline-block;
    padding: 10px 45px;
    background: #7ED321;
    color: #1C4701;
    border-radius: 15px;
}

.section-button a {
    background-color: #7ED321;
}



  

